/* My Fonts */
@font-face {
    font-family: 'UniversRoman';
    font-weight: normal;
    font-style: normal;
    src: url('uv____.woff');
}

@font-face {
    font-family: 'UniversItalic';
    font-weight: normal;
    font-style: normal;
    src: url('uv____italic.woff');
}

/*Element*/
small {	
	font-size: 20px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.75);
	font-family:UniversRoman;
	font-style: normal;
	line-height: 1.3;
	padding: 10px;
	position: relative;
}

/*Class*/
small.left{
	float: left;
}

small.right{
	float: right;
}

small.main{
	float: inherit;
}

/*Hover Underline Animation*/
[data-predefined-style="true"] small a.middle {
	position: relative;
}

[data-predefined-style="true"] small a.middle:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 0.75em;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out;
}

[data-predefined-style="true"] small a.middle:hover:before {
	visibility: hidden;
    transform: scaleX(0);
}

/*Carousel*/
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: auto;
    touch-action: pan-y; /* Enable vertical panning */
}

.carousel input[type="radio"] {
    display: none;
}

.carousel-images {
    position: relative;
    height: 400px; /* Adjust as needed */
}

.carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-image img {
    width: 100%;
    height: auto;
    display: block;
}

#slide1:checked ~ .carousel-images #image1,
#slide2:checked ~ .carousel-images #image2,
#slide3:checked ~ .carousel-images #image3,
#slide4:checked ~ .carousel-images #image4 {
    opacity: 1;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls .control {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.carousel-controls .control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}