/* My Fonts */
@font-face {
    font-family: 'UniversRoman', Arial, sans serif;
    font-weight: normal;
    font-style: normal;
    src: url('https://github.com/hannahstephaniewang/Personal-Website/blob/b1c71dc970a6732d45b813d8294d98ea63c2aa15/uv____.woff');
}

/*Class*/
.small {	
	display: inline-block;
	font-size: 2rem;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.75);
	font-family:UniversRoman;
	font-style: normal;
	line-height: 1.3;
}

